body{
    background-color: aquamarine;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Comfortaa;
    font-weight: 1500;
    font-size: x-large;

}
h1{
    display: flex;
    color: palevioletred;
    justify-content: center;
    
}
ul{
    display: flex;
    margin: auto;
    flex-direction: column;    
    justify-content: space-between;
}
.elements{
    color: darkgray;
}